@{            
    ViewBag.Title = "Accessibility";
    Layout = "~/Views/Shared/_eesoftLayout.cshtml";
}
<div class="page-heading text-center">
    <div class="container zoomIn animated">
       
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fadeIn animated">
                <div class="col-md-12">
                    <h2 class="title-style-1">Web Accessibility Testing Services<span class="title-under"></span></h2>
                    <p>
                        <h3>
                            More than a compliance requirement, accessibility of your applications to ensure inclusivity of differently abled populations is a societal responsibility.
                            As a socially responsible organization, you would like your applications and products to be accessible for one and all, including people with visual, hearing, cognitive and motor limitations.
                            It also helps your brand image and increases the number of happy users.
                        </h3>
                        <h3>
                            We, at EESOFT, believe in a world fair to everyone and do our bit by providing comprehensive expertise for accessibility testing of your applications.
                            With sound knowledge of the accessibility regulation like W3C’s WCAG 1.0/WCAG 2.0, BITV 1.0, Section 508 & Stanca Act etc.,
                            we ensure all practices to standardized accessibility are followed within your application.
                        </h3>
                    </p>                 
                </div>
                <div class="col-md-12 fadeIn animated">
                    <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#cause-carousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/assets/images/slider/home-slider-1.jpg" alt="" />
                            </div>
                            <div class="item ">
                                <img src="~/assets/images/slider/home-slider-4.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row fadeIn animated">
            <div class="col-md-12">
                <h2 class="title-style-2">Why EESOFT Gives a Special Focus to Accessibility Testing<span class="title-under"></span></h2>
                <p>
                    Accessibility Testing is done with consideration to differently abled people. It ensures that differently abled people eg.
                    people with color blindness, old age, vision & hearing impairment are able to use the application. 
                    Nowadays technology has played a vital role in providing support to the people with different abilities by helping them in operating the software products and have a better experience.
                    With a 20% population being differently abled, accessibility testing has now been made a part of the normal testing lifecycle.
                    As a market trend, it has become an integral part for companies to convey a guide to remediate any issues and help their organization grasp available structure for what's to come.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 fadeIn animate-onscroll">
                <h2 class="title-style-2">Our Suite of Accessibility Testing Services<span class="title-under"></span></h2>
                <div class="panel-group" id="Testing Depth" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#Testing Depth" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Web Accessibility Evaluation
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Our team offers a whole range conformance evaluation of digital software ensuring that they are in line with the standards like WCAG 2.0/2.1 and ATAG 2.0, etc and this confirmation is on the basis of the automates, manual, and assistive testing process</p>
                                <p>@*Get hassle free integration & interoperability with the assistance of web service automation testing tools.*@</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Accessibility Consulting
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Our team of researchers and software consultants understand the importance and ways of making software accessible and that it holds in making a business a complete success and hence transform the knowledge into practical to-dos to implement in the software.</p>                    
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Automated Reporting
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>We combine the industry’s leading automation tools with the manual reviews to offer you market’s most reliable and comprehensive code parsing services that come with the assurance of W3C standards and WCAG 2.0/2.1 conformanc</p>                               
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                    Detailed Code Inspection
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p>We conduct a full inspection of your software’s source code to help identify the issues and errors which have a direct impact on accessibility. Our team of software testers then offer tailored solutions that promise remediate defects.</p>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.main-container  -->