@{
    ViewBag.Title = "Automation";
    Layout = "~/Views/Shared/_eesoftLayout.cshtml";
}
<div class="page-heading text-center">
    <div class="container zoomIn animated">
        <h1 class="page-title">Automation Testing <span class="title-under"></span></h1>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fadeIn animated">
                <p>
                    <h2></h2>
                </p>
            </div>
        </div>
        <div class="row fadeIn animated">
            <div class="col-md-6">
                <h2 class="title-style-2">Test Automation Framework and Benefits<span class="title-under"></span></h2>
                <p>
                    <h3>
                        We are the prominent QA automation testing agency and we smartly provide full-scale test automation processes from scratch to improve existing testing processes.
                        Software & application testing is considered to be crucial by enterprises all over the globe. @*It is one such activity that validates the functionality, performance, quality & other vital aspects of a software.*@
                        But, with the ever increasing codebase and added functionality, manual testing is turning laborious, inefficient & costly day-by-day.
                        To avoid such issues, manual tester are rapidly switching to test automation, which automates necessary tasks & functions in detail to increase their quality & effectiveness.
                        Implementing a robust test automation solution is an arduous task and proves challenging for loads of companies. With the holistic approach to your business, we deliberately design test automation processes, create QA automation framework, set up robust automated scripts for consistent test coverage.
                    </h3>
                </p>
            </div>
            <div class="col-md-6">
                <div class="item active">
                    <img src="~/assets/images/SDLC-Testing-Image-2-28.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 fadeIn animate-onscroll">
                <h2 class="title-style-2"> Our Outstanding Automation Testing Services <span class="title-under"></span></h2>
                <div class="panel-group" id="Testing Depth" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#Testing Depth" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Web Service Automation Testing Services
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>We offer web service automation testing using Java to get excellent repository, messaging and uninterrupted functioning.</p>
                                <p>Get hassle free integration & interoperability with the assistance of web service automation testing tools.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Web Application Automation Testing Services
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Using automation testing we impart web apps with exceptional quality, scalability, reliability & security.</p>
                                <p>Our team ensures application’s compatibility with various platforms, OS & devices.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Mobile Test Automation Services
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>Validate functionality, performance, network configuration, memory capacity, & compatibility with various mobile platforms & devices.</p>
                                <p>Receive verified & thoroughly tested mobile apps that offer superior user experience & effortless accessibility.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                    Automated Regression Testing Services
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p>Get automated regression testing for software, web, mobile applications, web service, API & more, by re-running test scripts to get accurate results.</p>
                                <p>Quickly identify, & resolve issues & discrepancies and increase your time to market.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Functional Test Automation Services
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p>Accelerate your functional test with our time & cost effective automation testing.</p>
                                <p>Verify & validate functionalities for different conditions & environments with great precision & accuracy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.main-container  -->
<div class="section-home our-sponsors animate-onscroll fadeIn">

    <div class="container">

        <h2 class="title-style-1">Tools we Use<span class="title-under"></span></h2>

        <ul class="owl-carousel list-unstyled list-sponsors">

            <li> <img src="~/assets/images/Tools/Untitled-design-13.png" alt=""></li>
            <li> <img src="~/assets/images/Tools/appium-1-1.png" alt=""></li>
            <li> <img src="~/assets/images/Tools/Untitled-design-12.png" alt=""></li>
            <li> <img src="~/assets/images/Tools/Untitled-design-1-1.png" alt=""></li>
            <li> <img src="~/assets/images/Tools/jasmine.png" alt=""></li>
            <li> <img src="~/assets/images/Tools/Untitled-design-13.png" alt=""></li>
            <li> <img src="~/assets/images/Tools/appium-1-1.png" alt=""></li>
            <li> <img src="~/assets/images/Tools/Untitled-design-12.png" alt=""></li>
            <li> <img src="~/assets/images/Tools/Untitled-design-1-1.png" alt=""></li>
            <li> <img src="~/assets/images/Tools/jasmine.png" alt=""></li>
        </ul>
    </div>
</div> <!-- /.our-sponsors -->