@{
    ViewBag.Title = "Functional";
    Layout = "~/Views/Shared/_eesoftLayout.cshtml";
}
<div class="page-heading text-center">
    <div class="container zoomIn animated">
        <h1 class="page-title">Functional Testing <span class="title-under"></span></h1>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fadeIn animated">
                <p>
                    <h2>
                        We perform Functional Testing to determine how your hardware and software, your website and internal applications complete their expected functions.
                        Functional Testing is of utmost importance in ensuring quality of software being released.
                        The testing process involves testing user commands, user screens, searches, data manipulation, business processes and integrations.
                        We can verify an application’s or a website’s expected functional performance and how it conforms to specifications by validating it with Functional Testing
                    </h2>
                 </p>
            </div>
            <div class="col-md-12 fadeIn animated">
                <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#cause-carousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/assets/images/slider/home-slider-1.jpg" alt="" />
                        </div>
                        <div class="item ">
                            <img src="~/assets/images/slider/home-slider-4.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fadeIn animated">
            <div class="col-md-6">
                <h2 class="title-style-2">Functional Testing Benefits<span class="title-under"></span></h2>
                <p>
                    EESOFT has the excellence to manage the astounding task in functional testing to make the process flawless and fault-free. Testing objectives are defined at every single stage, including test engineer and project manager level, which guarantees success. We have the expertise and proficiency to understand software applications and craft a plan that complies with client’s needs.
                    </p><p>We formulate a strong approach and custom test plans to ensure we meet all prerequisites. Our functional testing benefits are mentioned below.
                </p>
                <ul>
                    <li>Improving an end-user experience by omitting flaws and detecting bugs in the software</li>
                    <li>Comparison of the results data of the software test cycle with the expected behavior</li>
                    <li>Monitor how two distinct functions in the same app is affecting each-other</li>
                    <li>Check the functional behavior after integration of every single component in the application</li>
                    <li>Functional testing enhances the user experience by removing out functional bugs & any lost opportunities in settings</li>
                    <li>Smoke, Acceptance and System Testing ensure accurate testing results related to bugs & vulnerabilities assessments.</li>
                    <li>Discover the threats between back end & front end interactions </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="item active">
                    <img src="~/assets/images/functional-testing.png" alt="" />
                </div>                
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 fadeIn animate-onscroll">

                <h2 class="title-style-2"> Testing Depth <span class="title-under"></span></h2>

                <div class="panel-group" id="Testing Depth" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#Testing Depth" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Module/component level testing
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                At EESOFT Software we adhere tightly to software industry best practices and standards to create optimal software solutions that have sustainable architecture, superior performance and excellent maintainability of each component or module.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Integration testing     
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                System modules and components must work together reliably and efficiently to bring down total integration and implementation costs, also ultimately lowering the Total Cost of Ownership. we successfully ensure comprehensive quality control in each phase of your product’s development and implementation.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Systems testing
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                EESOFT Software’s professional staff has mature analytical knowledge and broad testing experience. They safeguard system compliance with functional and business requirements, defined technology and hypothetically-developed scenarios.
                            </div>
                        </div>
                    </div>
                </div>

                <p></p>

            </div>
        </div>
    </div>
</div> <!-- /.main-container  -->